{
    "semi": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "printWidth": 90,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "plugins": ["prettier-plugin-tailwindcss"]
}